<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- site -->
    <add key="KeyCrypt" value="b14ca5898a4e4133bbce2ea2315a1916" />
    <add key="DefaultDB" value="DbBase" />
    <add key="DatabaseName" value="VilasLabProject" />
    <add key="UrlSaveFile" value="E:\fileout" />
  </appSettings>
  <connectionStrings>
    <add name="DbBase" connectionString="Data Source=HAU;Initial Catalog=VilasLabProject;Integrated Security=True" providerName="System.Data.sqlClient" />
    <!--Server=myServerAddress;Database=myDataBase;User Id=myUsername;password=myPassword;Trusted_Connection=False;MultipleActiveResultSets=true;-->
  </connectionStrings>
</configuration>